@import "tailwindcss";

:root {
  --bg-color: #efefef
}


body {
  background-color: var(--bg-color);
  /* background-color:darkmagenta; */
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.fix-height {
  min-height: calc(100vh - 150px);
}

.overflow-height {
  height: calc(100vh - 150px);
}